.container {
  font-size: 1rem;
  line-height: 1.5;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  width: 796.8px;
  height: 1124px;
  margin: auto;
}

.resumeRow {
  display: flex;
  width: 100%;
  border: 2px solid rgb(82, 80, 80);
}

.sidebar {
  width: 34%;
  min-height: 1124px;
  padding: 20px 10px 0 10px;
}

.main {
  width: 66%;
  padding: 20px 10px;
}

.contactSection {
  margin: 1rem 0;
}

.icon {
  margin-right: 10px;
}

.catagory {
  margin: 0px;
}
